
 body {
    background-image: url("../Images/grey-cloth-bg.jpg");
    background-color: #cccccc;
} 
a {

    font-size: 1.3rem;
    
}
.navbar-brand {
    font-size: 1.3rem;
}
.active {
    font-size: 1.4rem;
}

  @media (max-width: 575.98px) { 
    h1 {
        text-align: center;
    }
    .center-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      .small-br-margin-2 {

            margin-right: 3%;
            margin-left: 3%;
          
          
      }

   }

.off-white-background {
    background-color: #f7f7f7;
}


footer {
    /* height: 30px; */
    background-color: #f7f7f7;
    border-top: 2px solid rgb(88, 85, 85);
    text-align: center;
    
}
footer ul {
    list-style: ;
}
.github-icon {
    width: 20px;
    height: auto;
}